html, body {
  font-size: 18px;
  background-color: white;
  font-family: Helvetica;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0px auto;
}

.main {
  width: 100%;
  font-weight: bold;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-image {
    height: 25rem;
}

.logo-content {
  padding: 0.66rem 0px;
  background-color: black;

}

.logo {
  display: flex;
  align-items: center;

}
.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.logo span {
  font-size: 1rem;
}

.main-banner {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  top: 9rem;
  position: relative;

}

.mb-container h3 {
  font-size: 1rem;
  margin: 1.5rem auto;
}

.mb-container h1 {
  font-size: 2rem;
  margin: 0.5rem auto;
  line-height: 1.2em;
}

.navigation {
  background-color: firebrick;
  padding: 0.75rem 0;

}
.navigation nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;;
  margin: 3rem auto;
  color: black;

}

.grid-products{

  padding: 2rem;
  border: 4px solid black;


}

.grid-column {
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;


}

.pen,
.watch,
.glasses{

  height: 9rem;
  width: 9rem;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;

}

.pen {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/pen.png');
}

.watch {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/watch.png');
}

.glasses {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/glasses.png');
}

.grid-column span {
  display: block;
  padding: 0.5rem 0;
  background: black;
  color: white;
  text-align: center;

}

.below-product{
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.products {
    width: 35%;
}
.location,
.hours{
  background-color: black;
  padding: 1rem 2rem;
}
.location-details,
.hours-details {
  color: black;
}

footer {
  background-color: black;
  padding: 5em 0;
}

.footer-text {

  float: left;
  margin: 0 auto;
}
